* {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #1f2937;
    padding: 20px 200px 20px 200px;
}

nav {
    display: flex;
    justify-content: center;
}

.logo {
    flex: 1;
    color: #F9FAF8;
    font-family: 'Lobster';
    font-size: 40px;
}

.logo > p {
}

.navigation {
    color: #E5E7EB;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster';
    font-size: 20px;
    padding: auto 0px;
}

.navigation > a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #E5E7EB;

}

.top {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    padding: 50px 200px 50px 200px;
    gap: 20px;
}

.top > .herotext {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}

.top > .herotext > .hero-title {
    font-size: 50px;
    color: #E5E7EB;
    font-weight: bolder;
}

.top > .herotext > .hero-describe {
    color: #E5E7EB;
    font-size: 20px;
}

.top > .herotext > button {
  background-color: #37AEE2;
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 16px;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  width: 100px;
  border: 0;
}

.top > .herotext > button:hover {
  background-color: #17759C;
}

.top > .heroimage {
    flex: 1;
    border: 3px solid white;
}

.heroimage img {
    width: 100%;
    height:100%;
}

.main {
    background-color: #F9FAF8;
    color: #1F2937;
    padding: 50px 300px 100px 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.main > .main-title {
    flex: 2;
    align-self: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.main > .main-section {
    flex: 4;
    display: flex;
    justify-content: space-around;
}

.main > .main-section > .main-content {
    width: 150px;
}

.main > .main-section > .main-content > .main-content-image {
    width: 100%;
    height: 150px;
    border: 3px solid steelblue;
    border-radius: 20px;
}

.main > .main-section > .main-content > p {
   font-size: 18px;
   max-width: 100%;
   font-style: italic;
   text-align: center;
   color: slategrey;
}

.quote {
    background-color: #E5E7EB;
    padding: 20px 200px 20px 200px;
}


.bottom {
    padding: 20px 200px 20px 200px;
}

footer {
    padding: 20px 200px 20px 200px;
}